<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<title>Travel Expert/Gallery</title>

<body>
  <nav class="navbar h-nav-resp">
      <div class="logo"><img src="images/logo1.png"></div>
      <%- include('./partials/nav-list'); %>
     <!-- Burger Menu for Navbar-->
      <%- include('./partials/burger-menu'); %>
      </nav>
  <br>
  <main class="gallery"></main>

  <%- include('./partials/foot'); %>

  <script src="js/gallery.js"></script>
  
  <%- include('./partials/js-burger'); %>
</body>

</html>