<!DOCTYPE html>
<html lang="en">
<!-- for combined head-->
<%- include('./partials/head'); %>
<title>Travel Expert/LogIn</title>

<body>
  <nav class="navbar h-nav-resp">
    <div class="logo"><img src="images/logo1.png"></div>
    <!-- for combined navigation list-->
    <%- include('./partials/nav-list'); %>
    <!-- for combined burger menu-->
    <%- include('./partials/burger-menu'); %>
    

  </nav>
  <br>
  <h1 class="text-center"> Login</a></h1>
  <section class="contact" id="contact">
    <div class="form">
      <form action="https://formspree.io/mrgyybwk" method="POST" class="log-in">
        <label for="username">UserName* </label>
        <input Id="username" class="form-input" type="text" name="username" placeholder=" Enter Username" title="Enter Username" required>
        <label for="pwd">Password* </label>
        <input id="pwd" class="form-input" type="password"="8" name="pwd" placeholder=" Enter Password" required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Enter your Password">
        <input class="btn-drk" type="submit" value="LOGIN">
        <br>
        <br>
        <h3> Don't have account? <a href="/register">SignUp</a></h3>
      </form>
    </div>
  </section>
  <!--  for combined  footer-->
  <%- include('./partials/foot'); %>
  <!-- js for combined Burger menu-->
  <%- include('./partials/js-burger'); %>
</body>

</html>