<!DOCTYPE html>
<html lang="en">
<!-- for combined head-->
<%- include('./partials/head'); %>
<title>Travel Expert/SignUp</title>

<body onload="message()">
    <nav class="navbar h-nav-resp">
    <div class="logo"><img src="images/logo1.png"></div>
        <!-- for combined navigation list-->
        <%- include('./partials/nav-list'); %>
        <!-- for combined burger menu-->
        <%- include('./partials/burger-menu'); %>
    </nav>
    <br>
    <h1 class="text-center"> SignUp </h1>
    <section class="contact" id="contact">
        <div class="form">
            <form action="https://formspree.io/mrgyybwk" method="POST" Class="reg-form">
                <label for="name">Name</label>
                <input Id="name" class="form-input" type="text" name="name" required="">
                <label for="username">Username</label>
                <input ID="username" class="form-input" type="text" name="username" required="">
                <label for="email">Email </label>
                <input ID="email" class="form-input" type="email" name="email" required="">
                <label for="password">Password</label>
                <input ID="password" class="form-input" type="password" name="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title=" Select your Password" required></label>
                <div id="message" onload="message()">
                    <h4>Password must contain the following:</h4>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <br>
                <br>
                <label for="repassword">Confirm Password</label>
                <input ID="repassword" class="form-input" type="password" name="repassword" title="Re-enter Password"
                    placeholder="" required>
                <label>newsletter? <input class="form label" type="checkbox"></label>
                <br>
                <input class="btn-drk" type="submit" value="SignUp" onclick="return Validate()" />
                <br>
                <br>
                <br>
                <h3> Already have account? <a href="/login">Login</a></h3>
            </form>
        </div>
    </section>
    <!--  js for password validation -->
    <script src="js/pswValidate.js"></script>
    <!--  for combined  footer-->
    <%- include('./partials/foot'); %>
    <!-- js for combined Burger menu-->
    <%- include('./partials/js-burger'); %>
</body>

</html>